:root {
    --red: #B83B5E;
    --purple: #6A2C70;
    --yellow: #FFBF1B;
    --orange: #FF6825;
    --black: #505050; 
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Poppins', sans-serif;
}

input, button {
    font-size: 16px;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    color: white;
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;

}
section {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 16px;
    border-radius: 10px;
}
.input_section {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: var(--red);
}

.input_section > form > .input {
    margin: 8px 0;
}

.input_section > form > button {
    background-color: var(--purple);
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border: 2px solid var(--purple);
    border-radius: 5px;
}

label {
    color: var(--black);
}

.input_section > form > .input > label {
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    font-weight: bold;
    margin-right: 10px;
}

.input_section > form > .input_inline > input[type="checkbox" i] {
    background-color: var(--purple);
}

.search_section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_section > form {
    padding: 16px;
    width: 100%;
    display: flex
}

.search_section > form > input {
    padding: 5px;
    margin-right: 5px;
    margin-left: 20%;
    border: 2px solid var(--purple);
    border-radius: 5px;
    flex-basis: 85%;
}

.search_section > form > button {
    background-color: var(--purple);
    color: white;
    border: 0;
    margin-left: 5px;
    margin-right: 20%;
    border-radius: 5px;
    cursor: pointer;
    flex-basis: 15%;
}

.book_shelf {
    margin: 16px 0 0 0;
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3, p {
    color: var(--black);
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .yellow {
    background-color: var(--yellow);
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .orange {
    background-color: var(--orange);
    color: white;
}
